<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Iniciar Sesion</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Usuario" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Contraseña" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">¿Se te olvidó tu contraseña?</a>
                </div>

                <div class="field button-field">
                    <a href="cartelera.html" id="boton-alterno" class="btn btn-outline-secondary">Entrar</a>
                </div>
            </form>

            <div class="form-link">
                <span>¿No tienes una cuenta? <a href="#" class="link signup-link">Registrate</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Iniciar sesión con Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="img/google.png" alt="" class="google-img">
                <span>Iniciar sesión con Google</span>
            </a>
        </div>

    </div>
</section>