<section id="peliculas" class="mt-5 mb-5">
  <div class="container">
      <div class="row">
          <div class="col text-center text-uppercase ">
              <h2>Estrenos</h2>
          </div>
      </div>
  </div>
  <hr>
  <div class="container mt-4 mb-4">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4">
              <a href="/pelicula_descri/thor.html"></a>
              <a href="/pelicula_descri/thor.html">
                  <div class="card">
                      <img src="/img/cartelera1.jpg" class="card-img-top" alt="...">
                  </div>
              </a>

          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
              <a href="/pelicula_descri/sup.html">
                  <div class="card">
                      <img src="/img/cartelera2.jpg" class="card-img-top" alt="...">
                  </div>
              </a>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
              <a href="/pelicula_descri/dragon-ball.html">
                  <div class="card">
                      <img src="/img/cartelera3.jpg" class="card-img-top" alt="...">
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>