<!-- <footer id="footer" class="pb-4 pt-4" style="background-color:rgb(112, 141, 196); ">
    <div class="container text-center mt-2">
        <h4>Derechos reservados Jennifer Guzñay</h4>
    </div>
</footer>
 -->
 <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="text-align: center;">
                © 2022 Derechos reservados Cine Buy Web
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->


