<div class="container">
  <div class="row">
    <div class="col text-uppercase text-center">
      <h2 class="m-4">Catalogo</h2>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control border-secondary" />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
        <label class="form-label">id</label>
        <input type="text" class="form-control border-secondary" />
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Descripcion</label>
      <textarea
        class="form-control border-secondary"
        placeholder=""
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
    </div>

      
        <div class="form-floating mb-3 mt-3">
          <div class="d-grid gap-2">
            <button type="button" id="btn-carts" class="btn " data-bs-toggle="modal"
              data-bs-target="#modalFormulario">Guardar</button>
          </div>
        </div> 
  </form>
</div>
